body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  color: #666;
}
em,
b,
i,
strong {
  font-style: normal;
};
a {
  text-decoration: none !important;
  color: #999;
};
a:hover {
  color: rgb(199, 11, 11);
}
ul,ol{
  list-style: none;
}
img {
  display: block;
  border: 0;
}
.wrapper {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
